*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(101, 101, 158);
    color: white;
   
    
}
.clock{
    position: relative;
    width: 40rem;
    height: 40rem;
    border: 5px solid black;
    border-radius: 45%;
    background: url(https://cssanimation.rocks/images/posts/clocks/ios_clock.svg);
    background-repeat: no-repeat;
    background-size: 97%;
    background-color: white;
}
.secs{
    position: absolute;
    top: 50%;
    left: 45%;
    height: 12rem;
    width: .1rem;
    background-color: tomato;
    transform: translateX(-50%);
    transform-origin: 25% 0;

}
.mins{
    position: absolute;
    top: 50%;
    left: 45%;
    height: 9rem;
    width: .3rem;
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    transform: translateX(-50%);
    transform-origin: 25% 0;

}
.hours{
    position: absolute;
    top: 50%;
    left: 45%;
    height: 6rem;
    width: .5rem;
    border-radius: 15px;
    background-color: rgb(0, 0, 0);
    transform: translateX(-50%);
    transform-origin: 25% 0;

}
.dot{
    position: absolute;
    top: 50%;
    left: 45%;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    transform: translateX(-50%);

}